.page {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  min-width: 800px;
  border-top: 1px solid transparent;
}

.page::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(255 255 255 / 0.3);
}

.page__heading {
  z-index: 1;
  width: 600px;
  margin-top: 31px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 800;
  font-size: 76px;
  line-height: 1.149;
  letter-spacing: 1.1px;
  text-align: center;
  text-transform: uppercase;
}

.page__heading::after {
  content: "*";
}

.page__heading:hover::before {
  content: "На самом деле нет.\AВажнее &mdash; научиться ошибаться.";
  position: absolute;
  top: 108px;
  right: 12px;
  border: 2px solid black;
  border-radius: 16px;
  padding: 20px 32px;
  box-shadow: 0 10px 0 0 #000;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  text-transform: none;
  background-color: #fff;
  white-space: pre;
}

video {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
